<div class="notifications">

  @for (notification of notifications; track notification) {

    <div class="notification"
         [ngClass]="className(notification)">

      <div class="progress-bar"
           [style.animation-duration.ms]="notification.timeout">
      </div>

      <div class="notification-content">

        <div class="icon-container">
          <mat-icon class="icon">
            {{iconName(notification)}}
          </mat-icon>
        </div>

        <div class="text-content">

          <div class="header">

            <div class="title">
              {{notification.title}}
            </div>

            <button mat-icon-button
                    class="close-btn"
                    (click)="close(notification); $event.stopPropagation()">

              <mat-icon>close</mat-icon>

            </button>

          </div>

          <div class="message">
            {{notification.message}}
          </div>

        </div>

      </div>

    </div>

  }

</div>