.notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  min-width: 400px;
  max-width: 400px;
  cursor: pointer;
  
    .notification {
      margin: 5px;
      border-radius: 5px;
      color: #fff;
      overflow: hidden;
  
      .title {
        // background: rgba(0, 0, 0, 0.6);
        padding: 20px;
        font-size: 28px;
      }
  
      .message {
      padding: 0px 0px 10px 20px;
      font-size: 19px;
        overflow-y: auto;
      }
  
      &.info {
        background-color: rgba(189, 189, 189, 0.9) !important;
      }
  
      &.success {
        background-color: rgba(27, 158, 119, 0.9) !important;
      }
  
      &.warning {
        background-color: rgba(217, 95, 2, 0.9) !important;
      }
  
      &.error {
        background-color: rgba(246, 71, 71, 0.9) !important;
      }
    }
  }

  .icon{
    font-size: 45px;
    overflow: visible;
  }

  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }