@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$custom-primary-palette: mat.m2-define-palette((
  50:  #5c5d64,
  100: #52535a,
  200: #484850,
  300: #3e3e45,
  400: #34343b,
  500: #24252B,
  600: #1f2025,
  700: #1a1b20,
  800: #14151a,
  900: #0f1015,
  A100: #6b6c73,
  A200: #838489,
  A400: #a2a3a8,
  A700: #b9babf,

  contrast: (
    50:  white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
));

$app-primary: mat.m2-define-palette($custom-primary-palette, 500);
$app-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$app-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  )
));
$primary: #24252B;
$contrast: white;
$accent: rgb(143, 143, 238);
$text-color: antiquewhite;


@include mat.all-component-themes($custom-theme);