<div class="main-container">

  <!-- BRAND -->
  <div class="brand-container">

    <div class="brand-logo">
      <img src="../../../assets/logo.jpeg">
    </div>

    <div class="brand-content">
      <div class="brand-title">
        Misto
      </div>

      <div class="brand-subtitle">
        Admin Panel
      </div>
    </div>

  </div>

  <!-- DIVIDER -->
  <div class="divider"></div>

  <!-- MENU -->
  <div class="menu-list">

    @for (item of getMenuItems(); track item) {

      <div
        class="menu-container"
        routerLinkActive="active-menu"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="item.navigationUrl">

        <mat-icon>{{ item.IconName }}</mat-icon>

        <span>{{ item.name }}</span>

      </div>

    }

  </div>

</div>